* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.error-msg {
  color: red;
  font-weight: bolder;
  font-style: italic;
}

.toggle-password {
  position: absolute;
  margin-left: -45px;
  margin-top: 5px;
  background-color: rgb(216, 216, 216);
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
}
